<h1>Name: {{player.data.name}}</h1>
<p>Position: {{player.data.position}}</p>
<p>Fut Id: {{player.data.fut_id}}</p>
<p>Base Id: {{player.data.base_fut_id}}</p>
<iframe width="560" height="315" src="https://www.easports.com/fifa/ultimate-team/fut/database/player/{{player.data.base_fut_id}}#{{player.data.fut_id}}"></iframe>
<!-- body > div.container-outer > div > div.body-outer > div.ng-view.ng-scope > div:nth-child(1) > div.ut-bio.ut-underlay.ng-scope > div.ut-body-inner > div > div.ut-bio-details_shell > div > div.ut-item-container_header > item-view-->
<br>
<img class="player face" src="{{player.imgs.player_url}}">
<img class="player club" src="{{player.imgs.club_url}}">
<img class="player nation" src="{{player.imgs.nation_url}}">
<img class="player league" src="{{player.imgs.league_url}}">
